package za.co.rettakid.carwash;

import android.content.Context;
import android.net.ConnectivityManager;
import android.net.NetworkInfo;
import android.os.AsyncTask;

import org.springframework.http.converter.xml.SimpleXmlHttpMessageConverter;
import org.springframework.web.client.RestTemplate;

import za.co.rettakid.carwash.utils.CarWashErrorCode;
import za.co.rettakid.carwash.utils.CarshWashRuntimeError;

public class BaseClient extends AsyncTask<Object, Void, Object> {

    protected String baseUrl = "http://192.168.1.36:80/${databaseName.lowerCaseOrgName}/xml.php";
    protected RestTemplate restTemplate = new RestTemplate();
    protected Context context;

    public BaseClient(String localUrl,Context context) {
        this.context = context
        restTemplate.getMessageConverters().add(new SimpleXmlHttpMessageConverter());
        this.baseUrl = this.baseUrl + localUrl;
    }

    protected String createUrl()    {
        return baseUrl;
    }

    protected String createUrl(String url)    {
        return baseUrl + url;
    }

    public RestTemplate getRestTemplate() {
        return restTemplate;
    }

    protected void checkNetworkConnection() {
        ConnectivityManager connMgr = (ConnectivityManager)context.getSystemService(Context.CONNECTIVITY_SERVICE);
        NetworkInfo networkInfo = connMgr.getActiveNetworkInfo();
        if (networkInfo != null && networkInfo.isConnected()) {

        } else {
            throw new CarshWashRuntimeError(CarWashErrorCode.CANNOT_FIND_CONNECTION);
        }
    }

    @Override
    protected Object doInBackground(Object... params) {
        checkNetworkConnection();
        return null;
    }

}
