package za.co.rettakid.dto;

import org.simpleframework.xml.Element;
import org.simpleframework.xml.Root;

#foreach(${import} in ${imports})
${import}
#end

@Root
public class ${classObject.name.parcelCaseName}Dto   {

#foreach(${variable} in ${classObject.variables})
    @Element(name = "${variable.name.lowerCaseName}")
    private ${variable.type.javaName} ${variable.name.camelCaseName};
#end

#foreach(${variable} in ${classObject.variables})

    public ${variable.type.javaName} get${variable.name.parcelCaseName}()   {
        return this.${variable.name.camelCaseName};
    }

    public void set${variable.name.parcelCaseName}(${variable.type.javaName} ${variable.name.camelCaseName})   {
        this.${variable.name.camelCaseName} = ${variable.name.camelCaseName};
    }
#end

}