package ${classPackage};

import ${entityPackage}.*;
import ${dtoPackage}.*;

public class Bind${classObject.name.parcelCaseName} {

    public static ${classObject.name.parcelCaseName}Entity bind${classObject.name.parcelCaseName}(${classObject.name.parcelCaseName}Dto ${classObject.name.camelCaseName}Dto) {
        ${classObject.name.parcelCaseName}Entity ${classObject.name.camelCaseName}Entity = null;
        if (${classObject.name.camelCaseName}Dto != null)    {
            ${classObject.name.camelCaseName}Entity = new ${classObject.name.parcelCaseName}Entity();
#foreach(${variable} in ${classObject.variables})
#if (${variable.type.variableTypeEnum} == 'REF')
            ${classObject.name.camelCaseName}Entity.set${variable.name.parcelCaseName}Entity(Bind${variable.name.parcelCaseName}.bind${variable.name.parcelCaseName}(${classObject.name.camelCaseName}Dto.get${variable.name.parcelCaseName}()));
#else
            ${classObject.name.camelCaseName}Entity.set${variable.name.parcelCaseName}(${classObject.name.camelCaseName}Dto.get${variable.name.parcelCaseName}());
#end
#end
        }
        return ${classObject.name.camelCaseName}Entity;
    }

    public static ${classObject.name.parcelCaseName}Dto bind${classObject.name.parcelCaseName}(${classObject.name.parcelCaseName}Entity ${classObject.name.camelCaseName}Entity) {
        ${classObject.name.parcelCaseName}Dto ${classObject.name.camelCaseName}Dto = null;
        if (${classObject.name.camelCaseName}Entity != null)    {
            ${classObject.name.camelCaseName}Dto = new ${classObject.name.parcelCaseName}Dto();
#foreach(${variable} in ${classObject.variables})
#if (${variable.type.variableTypeEnum} == 'REF')
            ${classObject.name.camelCaseName}Dto.set${variable.name.parcelCaseName}Dto(Bind${variable.name.parcelCaseName}.bind${variable.name.parcelCaseName}(${classObject.name.camelCaseName}Entity.get${variable.name.parcelCaseName}()));
#else
            ${classObject.name.camelCaseName}Dto.set${variable.name.parcelCaseName}(${classObject.name.camelCaseName}Entity.get${variable.name.parcelCaseName}());
#end
#end
        }
        return ${classObject.name.camelCaseName}Dto;
    }

}
