package ${classPackage};

#foreach(${import} in ${imports})
${import}
#end

public interface ${classObject.name.parcelCaseName}Service    {

    ${classObject.name.parcelCaseName}ListDto get${classObject.name.parcelCaseName}s();
    ${classObject.name.parcelCaseName}Dto get${classObject.name.parcelCaseName}s(${classObject.primaryKeyVar.type.javaName} ${classObject.primaryKeyVar.name.camelCaseName});
    ${classObject.name.parcelCaseName}Dto post${classObject.name.parcelCaseName}s(${classObject.name.parcelCaseName}Dto ${classObject.name.camelCaseName}Dto);
    void put${classObject.name.parcelCaseName}s(${classObject.name.parcelCaseName}Dto ${classObject.name.camelCaseName}Dto);
    void delete${classObject.name.parcelCaseName}s(${classObject.primaryKeyVar.type.javaName} ${classObject.primaryKeyVar.name.camelCaseName});

}