package za.co.rettakid.common.genesis.services;

import org.springframework.http.converter.xml.SimpleXmlHttpMessageConverter;
import org.springframework.web.client.RestTemplate;

public class BaseClient   {

    private baseUrl = "";
    private RestTemplate restTemplate = new RestTemplate();

    public RestTemplate getRestTemplate()   {
        restTemplate.getMessageConverters().add(new SimpleXmlHttpMessageConverter());
        return this.restTemplate;
    }

}