package ${classPackage};

import javax.xml.bind.annotation.XmlRootElement;
import javax.xml.bind.annotation.XmlElement;
#foreach(${import} in ${imports})
${import}
#end

@XmlRootElement(name = "${classObject.name.lowerCaseName}dto")
public class ${classObject.name.parcelCaseName}Dto    {

#foreach(${variable} in ${classObject.variables})
#if(${variable.type.variableTypeEnum} == 'REF')
    private ${variable.type.javaName}Dto ${variable.name.camelCaseName};
#else
    private ${variable.type.javaName} ${variable.name.camelCaseName};
#end
#end
#foreach(${reference} in ${classObject.references})
    private ${reference.name.parcelCaseName}ListDto ${reference.name.camelCaseName}${reference.refName.parcelCaseName}s;
#end
#foreach(${variable} in ${classObject.variables})
#if(${variable.isPk} == true || ${variable.nullity} == 'NULL')
    #set($required = ' , required = false')
#else
    #set($required = '')
#end
#if(${variable.type.variableTypeEnum} == 'REF')
    #set($type = ${variable.type.javaName} + 'Dto')
    #set($name = 'name = "' + ${variable.name.lowerCaseName} + 'dto"')
#else
    #set($type = ${variable.type.javaName})
    #set($name = 'name = "' + ${variable.name.lowerCaseName} + '"')
#end

    public ${type} get${variable.name.parcelCaseName}()   {
        return this.${variable.name.camelCaseName};
    }

    @XmlElement(${name}${required})
    public void set${variable.name.parcelCaseName}(${type} ${variable.name.camelCaseName})   {
        this.${variable.name.camelCaseName} = ${variable.name.camelCaseName};
    }
#end

#foreach(${reference} in ${classObject.references})

    public ${reference.name.parcelCaseName}ListDto get${reference.name.parcelCaseName}${reference.refName.parcelCaseName}s()   {
        return this.${reference.name.camelCaseName}${reference.refName.parcelCaseName}s;
    }

    public void set${reference.name.parcelCaseName}${reference.refName.parcelCaseName}s(${reference.name.parcelCaseName}ListDto ${reference.name.camelCaseName}${reference.refName.parcelCaseName}s)   {
        this.${reference.name.camelCaseName}${reference.refName.parcelCaseName}s = ${reference.name.camelCaseName}${reference.refName.parcelCaseName}s;
    }
#end

}