<?php

/** @Entity @Table(name="${databaseName.lowerCaseOrgName}_${classObject.name.lowerCaseOrgName}") **/
class ${classObject.name.parcelCaseName}Entity 	{

#foreach(${variable} in ${classObject.variables})
#if (${variable.isPk})
    #set($id = '@Id ')
    #set($autoGen = ' @GeneratedValue')
#else
    #set($id = '')
    #set($autoGen = '')
#end
#if (${variable.nullity} == 'NOT_NULL')
    #set($nullity = ' , nullable=false')
#else
    #set($nullity = '')
#end
#if (${variable.length})
    #set($length = ' , length='+${variable.length})
#else
    #set($length = '')
#end
#if (${variable.type.variableTypeEnum} == 'REF')
    #set($type = '')
    #set($column = '@ManyToOne(targetEntity="' + ${variable.type.phpName} + 'Entity" , fetch="LAZY") @JoinColumn(name="' + ${variable.orgName.originalName} + '", referencedColumnName="' + ${variable.reference.name.originalName} + '")')
#else
    #set($type = ' , type="'+${variable.type.phpName} + '"')
    #set($column = '@Column(name="' + ${variable.orgName.originalName} + '"' + ${type} + ${length} + ${nullity} + ')')
#end
    /** ${id}${column}${autoGen} **/
    protected ${H}${variable.name.camelCaseName};
#end

#foreach(${variable} in ${classObject.variables})
    public function get${variable.name.parcelCaseName}()	{
#if (${variable.type.phpName} == 'boolean')
        return (${H}this->${variable.name.camelCaseName}) ? 'true' : 'false';
#else
        return ${H}this->${variable.name.camelCaseName};
#end
	}

	public function set${variable.name.parcelCaseName}(${H}${variable.name.camelCaseName})	{
		${H}this->${variable.name.camelCaseName} = ${H}${variable.name.camelCaseName};
	}

#end

}
?>
