<?php

require_once ('protected/common/init/config.php');
require_once ($PROJ_FRAMEWORK_ROOT);
require_once ($PROJ_COMMON_ROOT.'bootstrap.php');

$app = new \Slim\Slim();

#foreach(${classObject} in ${classObjects})
require_once ($PROJ_PRESENTATION_CONTROLLER_ROOT.'${classObject.name.parcelCaseName}Controller.php');
#end

$app->run();

?>