package ${classPackage};

import org.springframework.http.converter.xml.SimpleXmlHttpMessageConverter;
import org.springframework.web.client.RestTemplate;

public class BaseClient {

    protected String baseUrl = "http://192.168.1.36:80/${databaseName.lowerCaseOrgName}/xml.php";
    protected RestTemplate restTemplate = new RestTemplate();
    protected Context context;

    public BaseClient(String localUrl) {
        restTemplate.getMessageConverters().add(new SimpleXmlHttpMessageConverter());
        this.baseUrl = this.baseUrl + localUrl;
    }

    protected String createUrl()    {
        return baseUrl;
    }

    protected String createUrl(String url)    {
        return baseUrl + url;
    }

    public RestTemplate getRestTemplate() {
        return restTemplate;
    }

}
